<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" 
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>
    <title>Claims Audit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/auditicon.png" sizes="any">
</head>
<body>
    <div class="header">
        <div style="display:inline-block;vertical-align:center;padding-right: 30px;">
            <img src="../static/images/auditicon.png" alt="Claim Audit" style="width:64px;height:64px;"/>
        </div>
        <div style="display:inline-block;vertical-align:center;font-size: 60px">
            <p>Claims Audit</p>
        </div>
    </div>

    <div class="topnav">
        <div class="topnav-centered">
            <a href="/"> Pull Claims for Audit</a>
            <a href="/auditClaims">Audit Claims</a>
            <a class="active" href="/reports">Reports</a>
        </div>
    </div>

    <div class="container">
        <div class="row" id="header-row">
            <div class="col-md-6">
                <p style="text-align:center;color:black"><b>Frost Accuracy: {{frost_accuracy}}%</b></p>
            </div>
            <div class="col-md-6">
                <p style="text-align:center;color:black"><b>NAC Accuracy: {{nac_accuracy}}%</b></p>
            </div>
        </div>  

        <div class="row" id="div_accuracy">
            <div class="col-md-6" id="div_charts">
                <canvas id="frost_acc"></canvas>
                <script type="text/javaScript">
                    let chartColors = ["orange", "blue"];
                    const ctx = document.getElementById('frost_acc').getContext('2d');
                    new Chart("frost_acc", {    
                        type:"pie",
                        data: {
                            labels: {{labels | safe}},
                            datasets: [{
                                backgroundColor: chartColors,
                                data: {{values | safe}}
                            }]
                        },
                        options: {
                            maintainAspectRatio: false
                        }
                    });
                </script>
            </div>
            <div class="col-md-6" id="div_charts">
                <canvas id="nac_acc"></canvas>
                <script type="text/javaScript">
                    let chartColors = ["orange", "blue"];
                    const ctx = document.getElementById('nac_acc').getContext('2d');
                    new Chart("nac_acc", {    
                        type:"pie",
                        data: {
                            labels: ["error", "correct"],
                            datasets: [{
                                backgroundColor: chartColors,
                                data: [1, 1]
                            }]
                        },
                        options: {
                            maintainAspectRatio: false
                        }
                    });
                </script>
            </div> 
        </div>

        <hr class="rounded">

        <div class="row" id="acc_title">
            <div class="col-sm-12">
                <p id="acc_title">Accuracy by Adjuster</p>   
            </div>
        </div>

        <div class="row" id="selection-row">
            <div class="col-sm-3">
                <label for="acc_begin_date" id="date_labels">Start Date:</label>
                <input type="date" name="acc_begin_date" id="accBeginDate" min="2022-06-01" value="{{begDate}}"/>
            </div>
            <div class="col-sm-3">
                <label for="acc_end_date" id="date_labels">End Date:</label>
                <input type="date" name="acc_end_date" id="accEndDate" min="2022-06-01" value="{{endDate}}"/>
            </div>
            <div class="col-sm-4">
                <label for="adj_sel" id="date_labels">Adjuster:</label>
                <select name="adj_sel">
                    {% for adj in adjs %}
                        <option value="{{adj}}">{{adj}}</option>
                    {% endfor %}    
                </select>
            </div>
            <div class="col-sm-2">
                <input type="button" onclick="displayCharts()" value="Submit"></inpout>
            </div>
        </div>


    </div>
    
</body>
</html>